{% extends 'base.html' %}

{% block title %}Все проекты{% endblock title %}

{% block page_header %}To-Do List{% endblock page_header %}

{% block content %}
    <div class="project-card">
        {% for project in projects %}
            <p>
                <span class="project_num"
            >{{ forloop.counter }}</span>
            <a class="project_title" href="{% url "project-view" project.id %}"
            >{{ project.title }}</a><br>
            </p>
        {% endfor %}
        <a class="btn btn-primary" href="{% url "project-create" %}" role="button">Создать проект</a>
    </div>
    {% include 'partial/pagination.html' %}
{% endblock content %}