{% extends 'base.html' %}

{% block content %}
    <p>Title: {{ project.title }}</p>
    <p>Description: {{ project.description }}</p>
    <p>Start Date: {{ project.start_date }}</p>
    <p>Finish Date: {{ project.finish_date }}</p>

    <h2>Задачи</h2>
    {% for task in project.tasks.all %}
        <p><a href="{% url "webapp:task-view" task.pk %}"
        >{{ task.summary }}</a></p>
    {% empty %}
        <p>Нет задач :(</p>
    {% endfor %}

    <p><a href="{% url "webapp:task-create" project.pk %}">Добавить
        задачу</a></p>
    <p><a href="{% url "webapp:project-delete" project.pk %}">Удалить
        проект</a></p>
    <p><a href="{% url "webapp:project-update" project.pk %}">Редактировать
        проект</a></p>

{% endblock content %}