{% extends "base.html" %}

{#{% block menu %}#}
{#    <li><a href="{% url "task-create" %}">Создать задачу</a></li>#}
{#    <li><a href="{% url "task-update" task.id %}">Редактировать#}
{#        задачу</a></li>#}
{#    <li><a href="{% url "task-delete" task.id %}">Удалить задачу</a></li>#}
{#{% endblock menu %}#}

{% block page_header %}Задача {{ task.id }}{% endblock page_header %}

{% block content %}
    <div class="card text-white bg-secondary mb-3 box_main" style="max-width:
    18rem;">
        <div class="card-header"><strong>Краткое описание: </strong>{{ task.summary }}</div>
        <div class="card-body">
            <h6 class="card-title"><strong>Статус: </strong>
                {{ task.statuses }}</h6>
            <h6 class="card-title"><strong>Типы: </strong>
                {%for type in task.types.all %}
                    {{ type.name }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h6>
            <p class="card-text"><strong>Полное описание: </strong>{{ task.description }}</p>
            <a href="{% url "task-delete" task.pk %}">Удалить задачу</a>
            <a href="{% url "task-update" task.pk %}">Редактировать задачу</a>
        </div>
    </div>
{% endblock content %}

