{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "task-create" %}">Создать
    задачу</a></li>{% endblock menu %}

{% block title %}Все задачи{% endblock title %}

{% block page_header %}Все задачи{% endblock page_header %}

{% block content %}
    {% if not tasks %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}

    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Задача</th>
        </tr>
      </thead>
      {% for task in tasks %}
          <tbody>
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><a href="{% url "task-view" task.id %}">{{ task.summary }}</a></td>
            </tr>
          </tbody>
      {% endfor %}
    </table>
{% endblock content %}