{% extends 'base.html' %}

{% block menu %}<li><a href="{% url "task-create" %}">Создать
    задачу</a></li>{% endblock menu %}

{% block title %}Все задачи{% endblock title %}

{% block page_header %}TO-DO{% endblock page_header %}

{% block content %}
    {% if not tasks %}
        <h2>НЕТ ЗАДАЧ</h2>
    {% endif %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="table_1" scope="col">#</th>
          <th class="table_1" scope="col">Задача</th>
        </tr>
      </thead>
      {% for task in tasks %}
          <tbody>
            <tr>
              <th class="table_1" scope="row">{{ forloop.counter }}</th>
              <td><a class="table_2" href="{% url "task-view" task.id %}"
              >{{ task.summary }}</a></td>
            </tr>
          </tbody>
      {% endfor %}
    </table>
    {% include 'partial/pagination.html' %}
{% endblock content %}