{% extends "base.html" %}

{% block menu %}
{#    <li><a href="{% url "article-add" %}">Создать статью</a></li>#}
{#    <li><a href="{% url "article-update" article.id %}">Редактировать статью</a></li>#}
{#    <li><a href="{% url "article-delete" article.id %}">Удалить статью</a></li>#}
{% endblock menu %}

{% block page_header %}Задача {{ task.id }}{% endblock page_header %}

{% block content %}
    <h3>Краткое описание: {{ task.summary }}</h3>
    <h5>Полное описание: {{ task.description }}</h5>
    <p>Статус: {{ task.status }}</p>
    <p>Тип: {{ task.type }}</p>
{% endblock content %}