{% extends 'base.html' %}

{% block title %}Подтвердите удаление задачи{% endblock %}
{% block page_header %}Вы уверены, что хотите удалить задачу
    {{ task.summary }}?{% endblock page_header %}

{% block content%}
    <form action="{% url "task-delete" task.id %}", method="POST">
        {% csrf_token %}
        <input type="submit" value="Да, я хочу удалить задачу">
        <a href="{% url "task-view" task.id %}">Отмена. Код красный. КОД
            КРАСНЫЙ!!</a>
    </form>
{% endblock content %}