{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url "task-create" %}">Создать задачу</a></li>
    <li><a href="{% url "task-update" task.id %}">Редактировать
        задачу</a></li>
    <li><a href="{% url "task-delete" task.id %}">Удалить задачу</a></li>
{% endblock menu %}

{% block page_header %}Задача {{ task.id }}{% endblock page_header %}

{% block content %}
    <div class="card" style="width: 430px;">
      <div class="card-body">
        <h5 class="card-title">Краткое описание: {{ task.summary }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Статус: {{ task.status }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Types:
            {%for type in task.types.all %}
                {{ type.name }}
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </h6>
        <p class="card-text">Полное описание: {{ task.description }}</p>
      </div>
    </div>
{% endblock content %}

