body {
    margin-top: 60px;
}

.body {
    background-image: url("../images/42.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.page_header {
    text-align: center;
    color: #6a7ddd;
    font-family: Georgia, arial, serif;
    font-style: italic;
}

.project-cards {
    margin: 0 auto;
    /*width: 30%;*/
    padding: 50px;
    text-align: center;
}


.project_text {
    padding: 5px;
}

.project_num {
    background-color: #48D1CC;
    padding: 5px 10px;
    border-radius: 25px;
    color: #595959;
}

.project_title {
    text-decoration: none;
    color: #595959;
    background-color: #ffbf80;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}


.menu-right {
    float: right;
}

.menu {
    display: block;
}