body {
    margin-top: 60px;
}

.body {
    background: #6a7dff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.page_header {
    text-align: center;
    color: white;
}

.table_1 {
    color: white;
}

.table_2 {
    text-decoration: none;
    color: white;
}

.box_main {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    margin-top: 30px;
}

label {
    color: white;
}

.container .bg-primary{
    background-color: #4d88ff!important;
}

.container .table{
    width: 30%;
}