body {
    margin-top: 60px;
}

.body {
    background-image: url("../images/42.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.page_header {
    text-align: center;
    color: #6a7ddd;
    font-family: Georgia, arial, serif;
    font-style: italic;
}

.project-cards {
    margin: 0 auto;
    /*width: 30%;*/
    padding: 50px;
    text-align: center;
}


.project_text {
    padding: 5px;
}

.project_num {
    background-color: #48D1CC;
    padding: 5px 10px;
    border-radius: 25px;
    color: #595959;
}

.project_title {
    text-decoration: none;
    color: #595959;
    background-color: #ffbf80;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
}

.pagination {
    text-align: center;
}

.pagination a, .pagination .page-disabled {
    display: inline-block;
    border: solid 1px #6a7ddd;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
}

.pagination a {
    background: #6a7ddd;
    color: white;
    text-decoration: none;
}

.pagination a:hover {
    background: #6a7dff;
    text-decoration: underline;
}

.pagination .page-disabled {
    background: #6a7dcc;
    color: #dddddd
}

.pagination .current-page {
    display: inline-block;
}

.pagination .current-page input {
    width: 50px;
    padding: 5px 7px;
    font-size: inherit;
    border-radius: 5px;
    text-align: center;
    border: solid 1px gray;
}

.avatar {
    display: inline-block;
    float: left;
    width: 60px;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 50%;
}
.text-center {
    text-align: center;
}
.clear {
    clear: both;
}

body {
    background-color: #f9f9fa
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px
}

.m-r-0 {
    margin-right: 0px
}

.m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
    padding: 20px 0
}

.card-block {
    padding: 1.25rem
}

.m-b-25 {
    margin-bottom: 25px
}

.img-radius {
    border-radius: 5px
}

h6 {
    font-size: 14px
}

.card .card-block p {
    line-height: 25px
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px
    }
}

.card-block {
    padding: 1.25rem
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
    margin-bottom: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.card .card-block p {
    line-height: 25px
}

.m-b-10 {
    margin-bottom: 10px
}

.text-muted {
    color: #919aa3 !important
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
    font-weight: 600
}

.m-b-20 {
    margin-bottom: 20px
}

.m-t-40 {
    margin-top: 20px
}

.p-b-5 {
    padding-bottom: 5px !important
}

.m-b-10 {
    margin-bottom: 10px
}

.m-t-40 {
    margin-top: 20px
}

.user-card-full .social-link li {
    display: inline-block
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
